<a href="https://colab.research.google.com/github/dinesh-2001/ed-analysis/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [12]:
dates=pd.date_range('today',periods=6)
num_arr=np.random.randn(6,4)
colums=['A','B','C','D']
df1=pd.DataFrame(num_arr,index=dates,columns=colums)
df1

                                   A         B         C         D
2022-12-06 18:39:15.613355  0.295620  0.603095  0.993573 -0.081270
2022-12-07 18:39:15.613355 -0.737071 -0.408929 -0.125865 -0.226842
2022-12-08 18:39:15.613355 -0.485912 -1.311845 -0.379868  0.119249
2022-12-09 18:39:15.613355  1.167129 -0.150172 -0.134177 -0.193557
2022-12-10 18:39:15.613355  0.431497 -0.174530  1.085483 -0.918809
2022-12-11 18:39:15.613355  0.616019 -0.375045 -0.035696 -0.287461

In [13]:
df1.head()

                                   A         B         C         D
2022-12-06 18:39:15.613355  0.295620  0.603095  0.993573 -0.081270
2022-12-07 18:39:15.613355 -0.737071 -0.408929 -0.125865 -0.226842
2022-12-08 18:39:15.613355 -0.485912 -1.311845 -0.379868  0.119249
2022-12-09 18:39:15.613355  1.167129 -0.150172 -0.134177 -0.193557
2022-12-10 18:39:15.613355  0.431497 -0.174530  1.085483 -0.918809

In [14]:
df1.tail(2)

                                   A         B         C         D
2022-12-10 18:39:15.613355  0.431497 -0.174530  1.085483 -0.918809
2022-12-11 18:39:15.613355  0.616019 -0.375045 -0.035696 -0.287461

In [15]:
df1.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [16]:
df1.values

array([[ 0.29562   ,  0.60309526,  0.99357283, -0.08126975],
       [-0.73707057, -0.40892913, -0.12586508, -0.22684156],
       [-0.4859124 , -1.31184541, -0.37986809,  0.11924904],
       [ 1.16712884, -0.15017151, -0.13417669, -0.19355727],
       [ 0.43149669, -0.17452997,  1.08548253, -0.91880889],
       [ 0.61601914, -0.37504512, -0.0356956 , -0.28746088]])

In [17]:
df1.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.214547 -0.302904  0.233908 -0.264782
std    0.709711  0.615638  0.635075  0.350980
min   -0.737071 -1.311845 -0.379868 -0.918809
25%   -0.290529 -0.400458 -0.132099 -0.272306
50%    0.363558 -0.274788 -0.080780 -0.210199
75%    0.569889 -0.156261  0.736256 -0.109342
max    1.167129  0.603095  1.085483  0.119249

In [18]:
df1.T

,2022-12-06 18:39:15.613355,2022-12-07 18:39:15.613355,2022-12-08 18:39:15.613355,2022-12-09 18:39:15.613355,2022-12-10 18:39:15.613355,2022-12-11 18:39:15.613355
A,0.295620,-0.737071,-0.485912,1.167129,0.431497,0.616019
B,0.603095,-0.408929,-1.311845,-0.150172,-0.174530,-0.375045
C,0.993573,-0.125865,-0.379868,-0.134177,1.085483,-0.035696
D,-0.081270,-0.226842,0.119249,-0.193557,-0.918809,-0.287461

In [20]:
df1.sort_values(by='A')

                                   A         B         C         D
2022-12-07 18:39:15.613355 -0.737071 -0.408929 -0.125865 -0.226842
2022-12-08 18:39:15.613355 -0.485912 -1.311845 -0.379868  0.119249
2022-12-06 18:39:15.613355  0.295620  0.603095  0.993573 -0.081270
2022-12-10 18:39:15.613355  0.431497 -0.174530  1.085483 -0.918809
2022-12-11 18:39:15.613355  0.616019 -0.375045 -0.035696 -0.287461
2022-12-09 18:39:15.613355  1.167129 -0.150172 -0.134177 -0.193557

In [21]:
df1.sort_values(by='A')[1:3]

                                   A         B         C         D
2022-12-08 18:39:15.613355 -0.485912 -1.311845 -0.379868  0.119249
2022-12-06 18:39:15.613355  0.295620  0.603095  0.993573 -0.081270

In [22]:
df1[['A','B']]

                                   A         B
2022-12-06 18:39:15.613355  0.295620  0.603095
2022-12-07 18:39:15.613355 -0.737071 -0.408929
2022-12-08 18:39:15.613355 -0.485912 -1.311845
2022-12-09 18:39:15.613355  1.167129 -0.150172
2022-12-10 18:39:15.613355  0.431497 -0.174530
2022-12-11 18:39:15.613355  0.616019 -0.375045

In [23]:
df2=df1.copy()
df2

                                   A         B         C         D
2022-12-06 18:39:15.613355  0.295620  0.603095  0.993573 -0.081270
2022-12-07 18:39:15.613355 -0.737071 -0.408929 -0.125865 -0.226842
2022-12-08 18:39:15.613355 -0.485912 -1.311845 -0.379868  0.119249
2022-12-09 18:39:15.613355  1.167129 -0.150172 -0.134177 -0.193557
2022-12-10 18:39:15.613355  0.431497 -0.174530  1.085483 -0.918809
2022-12-11 18:39:15.613355  0.616019 -0.375045 -0.035696 -0.287461

In [24]:
df2.isnull()

                                A      B      C      D
2022-12-06 18:39:15.613355  False  False  False  False
2022-12-07 18:39:15.613355  False  False  False  False
2022-12-08 18:39:15.613355  False  False  False  False
2022-12-09 18:39:15.613355  False  False  False  False
2022-12-10 18:39:15.613355  False  False  False  False
2022-12-11 18:39:15.613355  False  False  False  False

In [25]:
df2.fillna(4)
df2.dropna(how='any')

                                   A         B         C         D
2022-12-06 18:39:15.613355  0.295620  0.603095  0.993573 -0.081270
2022-12-07 18:39:15.613355 -0.737071 -0.408929 -0.125865 -0.226842
2022-12-08 18:39:15.613355 -0.485912 -1.311845 -0.379868  0.119249
2022-12-09 18:39:15.613355  1.167129 -0.150172 -0.134177 -0.193557
2022-12-10 18:39:15.613355  0.431497 -0.174530  1.085483 -0.918809
2022-12-11 18:39:15.613355  0.616019 -0.375045 -0.035696 -0.287461